* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --antd-wave-shadow-color: #6b69f9;
  margin: 0;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #000;
}

link {
  display: none;
}
div {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  line-height: 24px;
  border-radius: 10px;
  background: #6f6eff;
  -webkit-appearance: button;
  margin-right: 0.4rem;
  cursor: pointer;
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 2px;
  color: hsla(0, 0%, 100%, 0.85);
  background-color: transparent;
  border-color: #434343;
}

input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: tnum;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: transparent;
  background-image: none;
  border: 1px solid #434343;
  border-radius: 2px;
  transition: all 0.3s;
}

img {
  vertical-align: middle;
  border-style: none;
}

button,
input {
  overflow: visible;
}

/*HEADER*/
.header {
  height: 780px;
  background-color: #12141d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.navbar li {
  list-style: none;
  text-decoration: none;
}

.logo img {
  width: 200px;
  height: 30px;
}

.login button {
  width: 100px;
  height: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 10px;
  background: #6f6eff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}

.text-apr {
  display: flex;
  width: 50%;
  padding-right: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.apr-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}

.apr-subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #8a94a6;
  margin-top: 0.8rem;
}

.apr-input {
  display: flex;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 5px 12px rgb(30 151 247 / 7%);
  border-radius: 10px;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

.apr-input img {
  margin-left: 0.7rem;
  vertical-align: middle;
  border-style: none;
}

.input-text-1 {
  height: 40px;
  border: 0;
  flex-grow: 1;
  color: #000;
  text-overflow: ellipsis;
  touch-action: manipulation;
}

.apr-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  background-color: #6f6eff;
  border-radius: 10px;
}

.appealing-image1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.appealing-image1 img {
  width: 80%;
}

@media only screen and (max-width: 1000px) {
  .header-content {
    display: block;
  }
  .header {
    height: 1170px;
  }
}
@media only screen and (max-width: 600px) {
  .header-content {
    padding: 0 20px 0 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-content > div {
    width: 100%;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .apr-title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .apr-subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .apr-input {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .appealing-image1 img {
    width: 100%;
    margin-top: 2rem;
  }
}
/*HEADER*/

/*MAIN*/
.main-1 {
  font-family: Inter;
  width: 100%;
  height: 440px;
  background: #1e2029;
  text-align: center;
  padding: 109px 25px 125px;
}

.main1-title {
  font-family: Inter;
  font-size: 40px;
  margin-bottom: 37px;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: hsla(0, 0%, 100%, 0.85);
  font-weight: 500;
  /*width: 325px;
  height: 124px;*/
}

.main1-text {
  font-size: 20px;
  margin-bottom: 47px;
  color: #8a94a6;
}

.main1-form {
  display: flex;
  justify-content: center;
}

.main1-signup {
  background: #1e2029;
  text-align: center;
}

.main1-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-family: Inter;
  line-height: 24px;
  border-radius: 10px;
  height: 50px;
  background: #6f6eff;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .main-1 {
    padding: 59px 25px;
  }
}
@media screen and (max-width: 600px) {
  .main-1 {
    padding: 0 20px 0 20px;
  }
}
@media screen and (max-width: 600px) {
  .main1-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .main1-form {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .main1-button {
    width: 100%;
  }
}

.main-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
  height: 838.83px;
  background: #12141d;
}

.main2-part1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main2-part1 img {
  max-width: 100%;
  height: 697px;
  margin-top: 7.5rem;
}

.main2-part2 img {
  max-width: 80%;
  height: 520px;
  margin-top: 8.5rem;
}

@media screen and (max-width: 1000px) {
  .main-2 {
    margin-top: 50px;
    flex-direction: column-reverse;
    height: 2250px;
  }
}
@media screen and (max-width: 600px) {
  .main-2 {
    padding: 0 20px 0 20px;
  }
}
@media screen and (max-width: 1000px) {
  .main-2 > div {
    width: 100%;
    margin-top: 2rem;
  }
}
/*MAIN*/
