* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1f2128;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 1.5715;
}

img {
  vertical-align: middle;
  border-style: none;
}

div {
  display: block;
}

button,
input {
  overflow: visible;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.ant-btn-primary {
  color: #fff;
  background: #6b69f9;
  border-color: #6b69f9;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.main-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 1px);
  overflow: auto;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*header*/
.header {
  display: flex;
  background: #1f2128;
  height: 72px;
  border-bottom: 1px solid hsla(0, 0%, 88.2%, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 255px;
  padding-left: 1rem;
}

.logo {
  cursor: pointer;
  width: 160px;
}

.beta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background: hsla(0, 0%, 84.7%, 0.2);
  border-radius: 3px;
  height: 18px;
  width: 40px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  color: hsla(0, 0%, 100%, 0.85);
}

.search-container {
  flex-grow: 1;
  margin-left: 200px;
}

.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.bar-container {
  display: flex;
  align-items: center;
}

.bar-text {
  color: #808191;
  width: 100%;
}

.bar-input {
  background: transparent;
  width: 172px;
  padding: 4px 11px;
  border-radius: 4px;
  border: none;
  color: #fff;
  touch-action: manipulation;
}

.icons-container {
  flex-grow: 1;
}

.icons-field {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.icon-span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: tnum;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.icon-span img {
  cursor: pointer;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 1rem;
}

.profile {
  width: fit-content;
  border: 2px solid transparent;
}

.avatar {
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  background: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}
/*header*/

/*page content*/
.page-content {
  display: flex;
  flex-grow: 1;
}

.menu {
  width: 256px;
  height: 100%;
}

.menu-wrapper {
  background: #1f2128;
  box-shadow: inset -1px 0 0 hsl(0deg 0% 89% / 10%);
}

.menu-list-top {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid hsla(0, 0%, 88.2%, 0.1);
}

.menu-list-title {
  color: #808191;
  font-weight: 500;
  font-size: 12px;
  padding: 16px 0 16px 24px;
}

.menu-items {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16px 0 16px 20px;
  cursor: pointer;
  width: 216px;
  margin-left: 3px;
}

.hub-icon-container svg {
  overflow: hidden;
}

.GameIcon__path.-white[data-v-4592cb8d] {
  stroke: #fff;
}

.hub-span {
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.menu-items {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16px 0 16px 20px;
  cursor: pointer;
  width: 216px;
  margin-left: 3px;
}

.chatIcon__path[data-v-7d4a8153] {
  stroke: #808191;
}

.chat-span {
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.menu-list-middle {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid hsla(0, 0%, 88.2%, 0.1);
}

.menu-items {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16px 0 16px 20px;
  cursor: pointer;
  width: 216px;
  margin-left: 3px;
}

.videoIcon__path.-white[data-v-04da6700] {
  stroke: #fff;
}

.classes-span {
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.menu-items {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16px 0 16px 20px;
  cursor: pointer;
  width: 216px;
  margin-left: 3px;
}

.explorer-span {
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.menu-list-bottom {
  margin: 0 20px;
  padding: 20px 0;
}

.menu-items {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16px 0 16px 20px;
  cursor: pointer;
  width: 216px;
  margin-left: 3px;
}

.settingIcon__path[data-v-ceda977e] {
  stroke: #808191;
}

.settings-span {
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.menu-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 2rem;
}

.hub-container {
  height: 100%;
}

.hub-content {
  height: 85vh;
}

.channel-button-container {
  margin: 0.5rem;
}

.channel-button-field {
  display: flex;
  justify-content: flex-end;
}

.btn[data-v-c9dd59e2] {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
}

.chat-container {
  height: 100%;
}

.chat-content {
  display: flex;
  height: 90vh;
  margin-bottom: -50px;
}

.dm-list[data-v-7a6789e8] {
  width: 375px;
  height: 100%;
  min-width: 200px;
  border-right: 1px solid hsla(0, 0%, 84.7%, 0.1);
}

.input[data-v-d5c5d0de] {
  background: #000;
  border-radius: 4px;
}

.dm-recent[data-v-7a6789e8] {
  color: hsla(0, 0%, 84.7%, 0.5);
  overflow: auto;
  padding: 0 20px;
  height: 90%;
}

.mt-10 {
  margin-top: 1rem;
}

.pl-10 {
  padding-left: 1rem;
}

.dm-chat[data-v-7a6789e8] {
  width: 70%;
  height: 100%;
}

.chat-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
/*page content*/
