* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  background: #1f2128 !important;
  color: hsla(0, 0%, 100%, 0.87) !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #000;
  font-feature-settings: tnum;
}

div {
  display: block;
}

img {
  vertical-align: middle;
  border-style: none;
}

input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: tnum;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: transparent;
  background-image: none;
  border: 1px solid #434343;
  border-radius: 2px;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}

.main-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 1px);
  overflow: auto;
}

.login-page {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 1.5rem;
  background: #fff;
  overflow: auto;
}

.ad-container {
  display: flex;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.logo {
  width: 200px;
}

.login-box {
  flex-grow: 1;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.login-title {
  font-family: Tiempos Headline;
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 1rem;
  color: #30313f;
}

.login-subtitle {
  font-family: Circular Std;
  margin-top: 2rem;
  color: #8193ab;
}

.email-request {
  margin-top: 1rem;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8193ab;
}

.email-input {
  color: #000;
  height: 50px;
  border: 2px solid #dde5ee;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6.5px 11px;
  font-size: 16px;
}

.password-request {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8193ab;
  margin-top: 2rem;
}

.password-input {
  color: #000;
  height: 50px;
  border: 2px solid #dde5ee;
  box-sizing: border-box;
  border-radius: 4px;
}

.checkbox-request {
  margin-top: 1rem;
}

.login-checkbox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: tnum;
  display: inline-block;
  line-height: unset;
  cursor: pointer;
}

.checkbox {
  background-color: #6b69f9;
  border-color: #6b69f9;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: tnum;
  position: relative;
  top: -0.09em;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

.input-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.checkbox-action {
  background-color: #6b69f9;
  border-color: #6b69f9;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #434343;
  border-radius: 2px;
  border-collapse: separate;
  transition: all 0.3s;
}

.checkbox-text {
  padding-right: 8px;
  padding-left: 8px;
  color: #8193ab;
}

.login-confirm {
  margin-top: 3rem;
}

.login-button {
  background: #000;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.login-button {
  display: inline-block;
}

.sm-login {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.login-google {
  width: 224px;
}

.google-button {
  border-color: rgb(129, 147, 171);
  width: 100%;
  height: 60px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.google-field {
  display: flex;
  justify-content: space-around;
}

.google-icon {
  width: 24px;
}

.google-field span {
  color: rgb(129, 147, 171);
}

.login-github {
  width: 224px;
  margin-left: 1rem;
}

.github-button {
  border-color: rgb(129, 147, 171);
  width: 100%;
  height: 60px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.github-field {
  display: flex;
  justify-content: space-around;
}

.github-icon {
  width: 24px;
}

.github-field span {
  color: rgb(129, 147, 171);
}

.password-forget {
  text-align: center;
  margin-top: 1rem;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6f6eff;
}

.password-forget a {
  color: #6b69f9;
}

.create-account {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.create-account span {
  font-size: 16px;
  color: rgb(129, 147, 171);
}

.create-account a {
  font-size: 16px;
  color: rgb(129, 147, 171);
  margin-left: 2rem;
}
