* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  background: #1f2128 !important;
  color: hsla(0, 0%, 100%, 0.87) !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #000;
  font-feature-settings: tnum;
}

div {
  display: block;
}

input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: tnum;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: transparent;
  background-image: none;
  border: 1px solid #434343;
  border-radius: 2px;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

small {
  color: red;
}

.main-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 1px);
  overflow: auto;
  background: #1f2128;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4rem;
}

.form-title {
  font-family: Tiempos Headline;
  font-weight: 700;
  font-size: 1.8rem;
}

.form-subtitle {
  font-family: Circular Std;
  margin-top: 2rem;
  color: hsla(0, 0%, 100%, 0.6);
}

.show-error {
  font-size: 30px;
  color: red;
}

.form-input-name {
  margin-top: 3rem;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.form-input-name input {
  height: 60px;
  font-size: 20px;
  background: #000;
  border-radius: 4px;
  text-overflow: ellipsis;
  touch-action: manipulation;
  -webkit-appearance: none;
}

.form-input-user {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 2rem;
}
.form-input-user input {
  height: 60px;
  font-size: 20px;
  background: #000;
  border-radius: 4px;
  text-overflow: ellipsis;
  touch-action: manipulation;
  -webkit-appearance: none;
}

.form-input-email {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 2rem;
}
.form-input-email input {
  height: 60px;
  font-size: 20px;
  background: #000;
  border-radius: 4px;
  text-overflow: ellipsis;
  touch-action: manipulation;
  -webkit-appearance: none;
}

.form-input-password {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 2rem;
}
.form-input-password input {
  height: 60px;
  font-size: 20px;
  background: #000;
  border-radius: 4px;
  text-overflow: ellipsis;
  touch-action: manipulation;
  -webkit-appearance: none;
}

.form-input-confirmpass {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 2rem;
}
.form-input-confirmpass input {
  height: 60px;
  font-size: 20px;
  background: #000;
  border-radius: 4px;
  text-overflow: ellipsis;
  touch-action: manipulation;
  -webkit-appearance: none;
}

.checkbox-request {
  margin-top: 1rem;
}

.login-checkbox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: tnum;
  display: inline-block;
  line-height: unset;
  cursor: pointer;
}

.checkbox {
  border-color: #6b69f9;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: tnum;
  position: relative;
  top: -0.09em;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

.input-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-action {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #434343;
  border-radius: 2px;
  border-collapse: separate;
  transition: all 0.3s;
}

.checkbox-text {
  padding-right: 8px;
  padding-left: 8px;
  color: #8193ab;
}

.signup {
  margin-top: 3rem;
}

.signup button {
  background: #000;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.signup span {
  display: inline-block;
}

.already-account {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.already-account span,
.already-account a {
  font-size: 16px;
}

.already-account a {
  color: rgb(111, 110, 255);
}
